<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users - Admin Dashboard</title>
    <link rel="stylesheet" href="/admin/css/customers.css">
    <link rel="stylesheet" href="/admin/css/partial.css">
</head>
   <body>
  
      <%-include('../partials/admin/header')%>
        <!-- Users Page Content -->
        <div class="users-page">
            <h3>Customers List</h3>
            
            <!-- Search Bar -->
            <div class="search-bar">
                <input type="text" id="user-search" placeholder="Search Customers..." >
            </div>

            <!-- Users Table -->
            <table class="users-table" id="users-table">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Action</th>
                    </tr>
                </thead>
         
       
                <tbody>
                  <% users.forEach((user,index) => { %>
                    <tr>
                        <td><%= index+1 %></td>
                        <td><%= user.name %></td>
                        <td><%= user.email %></td>
                        <td><%= user.phone %></td>
                        <td>
                         <button
                         class="<%= user.isBlocked ?  'unblock-btn' : 'block-btn' %>" 
                         onclick="updateUserStatus('<%= user._id %>',this)"
                         data-user-id="<%= user._id %>"\
                          >              
                         <%= user.isBlocked ? 'Unblock' : 'Block' %>   <!--text change--> 
                        </button> 
                        </td>
                    </tr>      
               <% }) %>
                  
              </tbody>
              
            </table>
        </div>
    </div>
<script>
    async function updateUserStatus(userId,button){
        try {
           const response = await fetch(`/admin/customers/${userId}/update-status`,{
            method: 'PATCH',
            headers: {
                'content-Type': 'application/json'
            }

           });

           const data = await response.json();

           if(data.success){
             
             if(data.isBlocked){
                button.className = 'unblock-btn'
                button.textContent = 'Unblock'
             }
             else{
                button.className = 'block-btn',
                button.textContent= 'Block'
             }

             //show success message(optional)
            alert(data.message) //message from the backend
           }

           else {
              alert("Failed to update user status");
             }
            
        } 
        catch (error) {
          console.log("Error during user Management",error) //error will be displayed on frontend
          alert("An error occured during userManagement")  
        }
    }
  
</script>
</body>
</html>
