<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/user/css/partial.css" />
    <link rel="stylesheet" href="/user/css/categoryProducts.css" />

    <title></title>
  </head>

<body>
  <%-include('../partials/user/header')%>

  <div class="breadcrumb-container">
    <div class="breadcrumb">
      <a href="/" >Home</a>
      <span class="separator">></span>
      <a href="/categoryProducts/:categoryId" >Related Products</a>
    </div>
  </div>


<section class="products-section">
  <div class="products-grid">
    <% if (CategoryProducts.length > 0) { %>
    <% CategoryProducts.forEach((product)=>{  %>
      <div class="product-card">
        <a href="/productdetail/<%=product._id%>"  class="product-link">
          <div class="product-image">
              <img src="<%=product.images[0]%>" alt="Product Name">
              <div class="product-wishlist">
                  <img src="/user/icons/wishlist-2.png" alt="wishlist" width="20">
              </div>
          </div>
        </a>
          <div class="product-details">
            <h3 class="product-name"><%=product.name%></h3>
            <div class="price-container">
                <span class="mrp">M.R.P₹<%=product.actualPrice%></span>
                <span class="selling-price">₹<%=product.sellingPrice%></span>
            </div>
            <div class="product-rating">★★★★☆</div>
            <button class="add-to-cart">Add to Cart</button>
        </div>
      </div>
      <% }) %>
      
      <% } else { %>
        <p>No products found for this category.</p>
        <% } %>
  </div>
</section>
  <%-include('../partials/user/footer')%>
</body>
</html>
   -->